<div *ngIf="!claseCargada; else elseBlock">
    <ion-spinner name="crescent" class="spinnerCentrado"></ion-spinner>
</div>
<ng-template #elseBlock>

    <app-sub-header [titulo]="clase.titulo"></app-sub-header>

    <ion-content class="fondo">
        <ion-row class="ion-align-items-center rowSection">
            <video controls width="100%" height="350px" preload style="border:1px solid black; background-color: black;"
                allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                <source [src]="sanitizer.bypassSecurityTrustResourceUrl(clase.nombreVideo)" type="video/mp4">
                Sorry, your browser doesn't support embedded videos.
            </video>
        </ion-row>
        <ion-card-header>
            <ion-label><b>Descripción</b></ion-label>
            <ion-card-subtitle class="ion-text-justify" color='black'>{{clase.descripcion}}</ion-card-subtitle>
            <br />
            <ion-button expand="block" (click)="calificar()" color="tertiary">Calificar</ion-button>
            <br />
            <ion-label><b>Comentarios</b></ion-label>
        </ion-card-header>


        <div *ngIf="!comentariosCargados; else elseBlock">
            <ion-card>
                <ion-spinner name="crescent" class="spinnerCentrado"></ion-spinner>
            </ion-card>
        </div>

        <ng-template #elseBlock>
            <ion-card *ngFor="let comentario of clase.comentarios;">
                <ion-grid>
                    <ion-row>
                        <ion-col size='3'>
                            <ion-avatar>
                                <img [src]="comentario.usuario.avatar">
                            </ion-avatar>
                        </ion-col>
                        <ion-col size='9'>
                            <ion-label><b>{{comentario.usuario.nombre}}</b></ion-label>
                            <ion-card-content>
                                {{comentario.comentario}}
                            </ion-card-content>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card>


        </ng-template>





    </ion-content>
</ng-template>