.fondo {
    --background: rgb(246, 246, 252);
}


.spinnerCentrado {
    stroke: #ff0000;
    fill: #8b0000;
    position: fixed;
    z-index: 999;
    height: 10em;
    width: 5em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.centrado {
    text-align: center;
}
