.fondo {
    --background: rgb(246, 246, 252);
}
.centrado {
    text-align: center;
    margin: auto;
}

.borde{
    margin-left: 5%;
    margin-right: 5%;
    color: darken($color: #000000, $amount: 0);
    font-size: 17px;
}

.margen {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}

.redondo {
    border-radius: 10px 10px;
}

.boton {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.spinnerCentrado {
    stroke: #ff0000;
    fill: #8b0000;
    position: fixed;
    z-index: 999;
    height: 10em;
    width: 5em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}