<ion-content  class="fondologin">
  <ion-card class="redondo margen colorForm">
    <ion-card-header class="centrado">
      <br />
      <ion-avatar class="centrado">
        <img src="../../../assets/imgs/userRound.png">
      </ion-avatar>
      <ion-card-title><b>Iniciar sesión</b></ion-card-title>
    </ion-card-header>

    <br />
    <br />

    <form #formLoginUsuario="ngForm" (ngSubmit)="login(formLoginUsuario)">
      
      <ion-label ><h4 class="borde"><b>Correo:</b></h4></ion-label>
      <br />

      <ion-card>
        <ion-item>
          <ion-input type="email" [(ngModel)]="usuario.email" name="email" required #email="ngModel" email>
          </ion-input>

        </ion-item>
          
        <span *ngIf="email.touched && !email.valid">
          <ion-note color="danger">El correo no ha sido ingresado</ion-note>
        </span>
      </ion-card>

      <br />


      <ion-label ><h4 class="borde"><b>Contraseña:</b></h4></ion-label>
      <br />
      <ion-card>
        <ion-item>
          <ion-input [(ngModel)]="usuario.password" name="password" required #password="ngModel" minlength="6">
          </ion-input>
        </ion-item>
        <span *ngIf="password.touched && !password.valid">
          <ion-note color="danger">Debe de tener minimo 6 caracteres</ion-note>
        </span>
      </ion-card>

      <br />

      <ion-button type="submit"  class="boton" color="primary" [disabled]="!formLoginUsuario.form.valid" expand="block">Ingresar</ion-button>
      <ion-button  class="boton" color="danger" expand="block" (click)="registrarse()">Registrarse</ion-button>

    </form>
    <br />
    <br />






  </ion-card>

</ion-content>
